body{
	background-color: #80dfff;
}


h1{
	color: #ffffff;
	text-shadow: 3px 3px 3px #00ace6;
}


p{
	display: inline-block;
	height: 38px;
	width: 25%;
	overflow: hidden;
}

.clicked{
	cursor: pointer;
	color: white;
}

.not-clicked{
	cursor: pointer;
}
