body{
	background-image: url("http://i.imgur.com/D85V3ip.jpg");
	background-size: cover;
}


h1{
	text-shadow: 3px 3px 3px #00ace6;
}


p.not-clicked{	
	display: inline-block;
	height: 38px;
	width: 25%;
	overflow: hidden;
}




.clicked{
	font-weight: normal !important;
	font-style: normal !important;
	overflow: visible;
}

p.read{
	display: inline-block;
	font-weight: normal !important;
	font-style: normal !important;
	height: 38px;
	width: 25%;
	overflow: hidden;
}


#img{
	height: 75px;
}


a{ 	
	text-decoration: none;
}
a:hover{
	color: #9999d0;
}


.geemail-content{
	width: 1125px;
	float: right;
}

